.App {
  text-align: center;
  
}








/* fieldset{
  width: 30%;
  background-color: green;
} */
.app{
  background-image: url("https://images.pexels.com/photos/1596884/pexels-photo-1596884.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: local;
  max-height: 100%;
  max-width: 100%;
}
p{
  visibility: hidden;
  

}
h1{
  text-align: center;
  color: gray;
  font-size: 4rem;
}
.order{
  margin-left: 48%;
  margin-bottom: 10%;
  height: 5vh;
  width: 10%;
  border-radius: 10px;
  letter-spacing  : 2px;
  text-transform  : uppercase;
  border          : 0;
  box-shadow      : 0 5px 10px rgba(0, 0, 0, 0.1);
  outline         : none;
  background-color: gray;
  color: blue;
  font-weight: 700;
  font-size: 1rem;
}
.order:hover {
  background-color: blue;
  color: gray;
  box-shadow      : 0 5px 12px rgba(0, 0, 0, 0.3);
}